@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --section: #0d1338;
  --alter-background: #0a0a0a;
  --alter-foreground: #ededed;
  --alter-heading: #e6e6cd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --section: #a1a7cd;
    --alter-background: #ededed;
    --alter-foreground: #0a0a0a;
    --alter-heading: #403f3f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.alter {
  color: var(--alter-foreground);
  background: var(--alter-background);
}

.heading {
  color: var(--alter-heading);
}
